/* CSS Code, der für alle Web Pages gleich ist */
* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.webpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  min-height: 80vh;
}

.footer {
  min-height: 20vh;
  background-color: #009595;
  width: 100%;
}

footer {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-sections {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.footer-text {
  padding: 10px 0;
  color: white;
}

.footer-link:hover {
  opacity: 0.8;
}

.footer-button {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 7px;
  color:#009595;
  font-weight: bold;
}

.footer-button:hover {
  opacity: 0.8;
}

.header {
  background-color: transparent;
  max-width: 100vw;
}

.logo-picture {
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}

#nav-items {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.white {
  color: white;
}

.nav-link:hover {
  color: #009595;
}

.nav-link:active {
  color: #009595;
}

.newsletter-link {
  background-color: rgb(245, 68, 68);
  padding: 8% 30%;
  border-radius: 15px;
  color: white;
}

.newsletter-link:hover {
  color: black;
}

.container {
  max-width: 100%;
  padding: 0 10%;
}

/* 
Tutorial für die Hambugernavigation (Code nachgebaut nicht kopiert):
https://www.youtube.com/watch?v=flItyHiDm7E
*/

#hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
  }

  .footer-button-link {
    width: 80%;
  }

  .footer-sections {
    align-items: center;
    padding: 3% 0;
  }

  .footer-text {
    text-align: center;
  }

  .footer-button {
    width: 100%;
  }

  #hamburger {
    margin-top: 10px;
    display: block;
  }

  #hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #hamburger.active .logo {
    display: none;
  }

  #hamburger.active .hamburger-line {
    background-color: black;
  }

  #body.active {
    overflow: hidden;
  }

  #nav-items {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100vh;
  }

  #nav-items.active{
    left: 0;
  }

  .newsletter-link {
    padding: 0;
    background-color: transparent;
    color: black;
  }

  .nav-item {
    font-size: 40px;
    padding: 8% 0;
  }

  .nav-link {
    margin: 16px 0;
    color: black;
  }

  nav {
    align-items: center;
    transition: 0.3s ease;
  }

  #hamburger.active nav {
    background-color: black;
  }
}