/* CSS Code, den es für die Start Page braucht */
.home-bild {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    pointer-events: none;
}

.top-products {
    padding: 10vh 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-title {
    font-size: 15px;
    width: 90%;
}

.product-picture {
    width: 90%;
}

.top-title {
    font-size: 300%;
}

.top-section {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px){
    .top-products {
        flex-direction: column;
        padding: 0 0 10vh 0;
    }

    .product {
        margin-top: 50px;
    }
}

@media screen and (max-width: 700px) {
    .top-title {
        font-size: 200%;
    }
}